@import "tailwindcss";

html {
  background-color: #a0c878;
  background-image: linear-gradient(to right, #255f38 1px, transparent 1px),
    linear-gradient(to bottom, #255f38 1px, transparent 1px);
  background-size: 80px 80px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: inherit !important;
  font-family: inherit !important;
  transition: background-color 5000s ease-in-out 0s !important;
}
